<%= render 'layout' %>

<br><br>
<div class="center", style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="col-sm-12 d-flex flex-row">

          <h1> My Vacations </h1>
          <% binding.pry %>
          <% if @user.vacations.empty? %>
            <h3>No Vacations yet! Let's build one!</h3>
          <% else %>
            <% @user.vacations.each do |v| %>
              <h3><%= link_to v.name, vacation_path(v) %></h3>
            <% end %>
          <% end %>

          <%= link_to "New Vacation", bucket_list_items_path %>


        </div>
      </div>
    </div>
  </div>
</div>
