<%= render 'layout' %>

<br>
<br>
<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <h1><%= @user.first_name %>'s bucket list</h1>
        <h3>Click on a bucket list item to build a vacation</h3>
        <br>
        <% if !@items %>
          <h3>Looks like your bucket list is empty! Let's fix that.</h3>
        <% else %>
          <% @items.each do |item| %>
            <h3><%= link_to item.title, bucket_list_item_path(item) %></h3><br>
          <% end %>
        <% end %>
        <br>
        <br>
        <h3><%= link_to "Add to my bucket list", new_vacation_path %></h3>
        <br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
