<br>
<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <h3>Hi <%= @traveler.name %>!</h3>
          <h2>What would you like to add to your bucket list?</h2>
      </div>
    </div>
  </div>

<%= render partial: 'form', locals: { bucket_list_item: @item }%>
</div>
