<%= render 'layout' %>

<br>
<br>
<br>

<div class="container", style="text-align:center">
  <div class="panel-a" text-black>
    <div class="panel-body">
      <div class="form" style="color:darkgrey">
        <h4>Just added to your bucket list:</h4>
        <br><br>
        <h3><%= @item.title %></h3>
        <h4>Notes: <%= @item.notes %></h4>
        <%= link_to "Edit", edit_bucket_list_item_path(@item) %>
      </div>
    </div>
  </div>
</div>
