<%= render '/layouts/bidders' %>


<div class="center", style="text-align:center">
  <div class="container panel-a panel-body">
    <div class="col-sm-12 d-flex flex-row">
      <h1><%= link_to "Bid on Vacations", new_bidder_bid_path(@bidder) %></h1>
    </div>
  </div>
</div>
