<div class="container">
  <div class="panel-a" text-black>
    <div class="panel-body">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1> Create your profile</h1>
    </div>
  </div>
</div>

<%= render partial: 'form', locals: { user: @user }%>
