<%= render 'layout' %>

<h1>Welcome, <%= @user.first_name %>! </h1>

<div class="col-sm-12 d-flex flex-row">
   <% if flash[:notice] %>
    <div class="notice" style="text-align:center">
      <font size="60" color="red"><em><%= flash[:notice] %></em></font>
    </div>
  <% end %>

  <h3>Email:  <%= @user.email %></h3>

  <% if @user.organizer %>
    <h2>Let's get this trip planned!</h2>
  <% end %>

  
