<%= render 'layout' %>



<div class="text-center">
  <br>
  <br>

  <h1>Welcome, <%= @user.first_name %>! </h1>
  <h2>What would you like to do?</h2>
  <br>
  <br>

  <h3><%= link_to "Build my bucket list", new_bucket_list_item_path %></h3><br>
  <h3><%= link_to "Register as a bidder", new_bidder_path %></h3><br>

</div>
