<%= render '/layouts/categories' %>
<br>
<br>
<br>
<br>
<br>

<div class="col-sm-12 d-flex flex-row" style="text-align:center">


<h2>test</h2>
list of this user's Attractions
<% if current_user.attractions %>
  <% current_user.attractions.each do |a| %>
    <% link_to a.name, attraction_path(a) %>
  <% end %>
<% end %>

  <div class="container">
    <div class="panel-a" style="color:white">
      <div class="panel-body">
        <div class="col-sm-4 d-flex flex-row"></div>
          <div class="col-sm-4 d-flex flex-row">
            <h1>Attractions</h1>
            <% @categories.each do |c| %>
            <h3><%= link_to c.name, category_path(c)%></h3><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
