<style>
  body {
  background: url(<%= @category.image %>) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

.panel-a {
  background: rgb(0, 0, 0, 0.2)
  }
</style>

<br><br><br>
<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">


        <div class="col-sm-12 d-flex flex-row">
          <div class="text-center">

            <h1><%= @category.name %></h1>
            <% @category.attractions.each do |a| %>
              <h3><%= link_to a.name, attraction_path(a) %></h3>
            <% end %>
            <br>
            <br>

            <h5><%= link_to "Add new attraction", new_attraction_path %></h5>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
