<nav>
  <div id="navbar"
    <div class="text-center">
      <% if current_user  %>
        <%= link_to "My Bucket List", bucket_list_items_path, class: 'nav_element'  %>
        <%= link_to "My Vacations", vacations_path, class: 'nav_element' %>
        <%= link_to "Inspire Me", categories_path, class: 'nav_element' %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav_element' %>
      <% end %>
    </div>
  </div>
</nav>
