<%= render 'layout' %>
  <div class="center" style="text-align:center">
    <h1>New Attraction</h1>
  </div>

  <%= render partial: 'form', locals: { attraction: @attraction, category_attraction: @category_attraction }%>
